input{
	file{
		path =>"Users/mike/Data/ACCREDITATION.csv"
		start_position => "begining"
		sincedb_path => "/dev/null"
	}
}

filter{
	csv{
		separator => ","
		columns => ['PUBUKPRN', 'UKPRN', 'KISCOURSEID', 'KISMODE', 'ACCTYPE', 'ACCDEPEND', 'ACCDEPENDURL', 'ACCDEPENDURLW']
	
	}
	mutate{convert => ["PUBUKPRN","integer"]}
	mutate{convert => ["UKPRN","integer"]}
	mutate{convert => ["KISMODE","integer"]}
	mutate{convert => ["ACCTYPE","integer"]}
	mutate{convert => ["ACCDEPEND","integer"]}
}

output{
	elasticsearch{
		hosts =>"localhost"
		index =>"accreditation"
		document_type =>"accreditaiton keys"
	}
	stdout{}
}
